* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

body {
    background: url("./img/kisspng-brazilian-jiu-jitsu-jujutsu-triangle-choke-submiss-jiu-5b299413b22c84.7508853615294515397298.jpg");
}

.container {
    background-color: #d1d1d1;
    width: 500px;
    border-radius: 10px;
    padding: 15px;
    margin: 100px  auto;

}

.input-task {
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding-left: 10px;

}

.button-add-task {
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #003329;
    color: white;
    font-size: 17px;
    padding: 0 15px;
    cursor: pointer;
    font-weight: 700;
}

.button-add-task:hover {
    opacity: 0.8;
}

.button-add-task:active {
    opacity: 0.6;

}

.list-task {
    width: 425px;
    list-style: none;
    margin-top: 30px;
}

.task {
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 40px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 8px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.task:hover img {
    opacity: 1;
}


.done{
    background-color: #8fac55;
    text-decoration: line-through;
}

div h1{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}