*{
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-color: aqua;
}

form{
    width: 500px;
    height: 250px;
    margin: 200px auto;
    border-radius: 50px;
    text-align: center;
    background-color: white;
}

input{
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 30px;
}

input{
    border-radius: 10px;
}
